# pycharm
.idea/

# python
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# allure
allure-results/
allure-report/

# swagger coverage
coverage.html
coverage-results/
coverage-history.json
coverage-report.json

# Meta
.DS_Store

.gitlab-ci.yml

